/* body{
    overflow-x:hidden;
} */
.mainBg {

overflow:hidden;
background-color: #5ba016;
background-image: linear-gradient(0deg, #5ba016 1%, #F4D03F 88%);


}
  .simCard{
    padding-top:100px;
  
  }

.homeBg {
   overflow:hidden;
background-color: #fbaa10;
background-image: linear-gradient(180deg, #fbaa10 0%, #78b746 99%);
}

.archiveBg {
   overflow:hidden;
background-color: #fbaa10;
background-image: linear-gradient(180deg, #fbaa10 0%, #78b746 99%);
}

.calendarBg {
  overflow:hidden;
background-color: #fbaa10;
background-image: linear-gradient(180deg, #fbaa10 0%, #78b746 99%);
height: auto;
}

.jobsBg {
  overflow:hidden;
background-color: #fbaa10;
background-image: linear-gradient(180deg, #fbaa10 0%, #78b746 99%);
}

.whiteCard {
 background-color: rgb(244, 255, 225);
 margin: 0;
}

.para{
  margin: 0;
}

.parallax{
  height: 450;
}

::-webkit-scrollbar {
  width: .5em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  outline: .5px solid slategrey;
}