/* body{
    overflow-x:hidden;
} */
.mainBg {

overflow:hidden;
background-color: #5ba016;
background-image: linear-gradient(0deg, #5ba016 1%, #F4D03F 88%);


}

.homeBg {
  overflow:hidden;
  background-color: #54b931;
background-image: linear-gradient(180deg, #54b931 7%, #eae3e3 72%);

}

.archiveBg {
  overflow:hidden;
  background-color: #F7CE68;
}

.calendarBg {
  overflow:hidden;
  background-color: #B3B0AE;
}

.jobsBg {
  overflow:hidden;
    background-color: #54b931;
background-image: linear-gradient(180deg, #54b931 7%, #eae3e3 72%);
}

.whiteCard {
 background-color: rgb(244, 255, 225);
 margin: 0;
}

.para{
  margin: 0;
}

.parallax{
  height: 450;
}
/* @media only screen and (max-width: 570px) {
  .react-parallax-bgimage {
    height: auto;
  }
} */
