
@import '../../../node_modules/@fullcalendar/core/main.css';
@import '../../../node_modules/@fullcalendar/daygrid/main.css';
@import '../../../node_modules/@fullcalendar/timegrid/main.css';


.demo-app {
  fontFamily: DM Sans, sans-serif;
  font-size: 12px;
  padding: 15px;

}

.demo-app-top {
  margin: 0 0 3em;
  background-color:#ffffffff;
}

.demo-app-calendar {
  color: #54a826;
  margin: 0 auto;
  max-width: 900px;
  background-color:#FBF4CF;
}


.demo-app-top .btn{
  background-color: #54a826;
  color:#ffffffff;
}

.fc-button-primary {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  background-color: #FBA90D;
  border-color: #FBAA10;
}
.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active 
 {
  color: #fff;
  background-color: #54a826;
  border-color: #FBAA10;

}

.fc-event, .fc-event-dot {
  background-color: #FBAA10;
  border-color: #54a826;;
}
.fc-button-primary:hover{
background-color: #FDD749;
  border-color: #FBAA10;
}

.fc-today-button.fc-button.fc-button-primary{
 color: #fff;
  background-color: #54a826;
  border-color: #FBAA10;
}
